/**물음표 애니메이션 */
@keyframes scaleUpDown {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.167);
  }
}

.animate-scale {
  animation: scaleUpDown 1.5s ease-in-out infinite;
}

/* 점프 애니메이션
- 문짝 커서
 */
@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-jump {
  animation: jump 1s ease-in-out infinite;
}

/* 깜박임 효과*/
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

/* 깜박이는 커서 효과 */
.animate-typing-cursor::after {
  content: '|';
  margin-left: 5px;
  display: inline-block;
  animation: blink 1s infinite;
}

/**버튼 깜박임 효과 */
@keyframes glow {
  0%,
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.animate-glow {
  animation: glow 2s infinite;
}

@keyframes slideIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/**팝업 애니메이션 */

.slide_in {
  @apply animate-[slideIn_0.5s_forwards];
}

.slide_out {
  @apply animate-[slideOut_0.5s_forwards];
}

.fade_in {
  @apply animate-[fadeIn_0.5s_forwards];
}

.fade_out {
  @apply animate-[fadeOut_0.5s_forwards];
}

/* 플로팅 애니메이션 */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* 콤보 애니메이션 */
@keyframes comboPop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.animate-float {
  animation: float 1s ease-out forwards;
}

.animate-combo-pop {
  animation: comboPop 1s ease-out forwards;
}

.animate-ripple {
  animation: ripple 1s ease-out forwards;
}

/* 이불 날리기 애니메이션 */
@keyframes blanket-fly {
  0% {
    transform: translate(-50%, 0) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: translate(-40%, -25vh) rotate(10deg);
    opacity: 1;
  }
  50% {
    transform: translate(-60%, -50vh) rotate(-10deg);
    opacity: 1;
  }
  75% {
    transform: translate(-40%, -75vh) rotate(15deg);
    opacity: 1;
  }
  85% {
    /* 80vh 도달하는 시점부터 서서히 흐려짐 */
    opacity: 0.8;
  }
  95% {
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -100vh) rotate(-15deg);
    opacity: 0.3; /* 최종적으로 더 흐려지도록 조정 */
  }
}

.animate-blanket {
  animation: blanket-fly 2.5s linear forwards;
}

/* 이불 걸치기 애니메이션 */
@keyframes blanket-stop {
  0% {
    transform: translate(-50%, 0) rotate(0deg);
    animation-timing-function: ease-in;
  }

  45% {
    transform: translate(-45%, -45vh) rotate(15deg);
    animation-timing-function: ease-in-out;
  }

  65% {
    transform: translate(-52%, -60vh) rotate(-8deg);
    animation-timing-function: ease-out;
  }

  85% {
    transform: translate(-48%, -58vh) rotate(5deg);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate(-50%, -60vh) rotate(0deg);
  }
}

.animate-blanket-stop {
  animation: blanket-stop 3s forwards;
}
