@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Galmuri11', sans-serif;
  font-size: 1rem;
  color: #1f102a;

  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  /* input focus 제거 */
  input:focus {
    outline: none;
  }

  /**textarea focus 제거 */
  textarea:focus {
    outline: none;
  }

  /**스크롤바 제거 */
  ::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  @apply font-galmuri9 text-[3rem];
}

h2 {
  @apply font-galmuri9 text-[2rem];
}

h3 {
  @apply font-galmuri9 text-[1.75rem];
}

h4 {
  @apply font-galmuri9 text-[1.5rem];
}

h5 {
  @apply font-galmuri9 text-[1.25rem];
}

.btn {
  @apply font-galmuri9 rounded-md border-[3px] border-black px-5 py-2;
}

.btn.main2 {
  @apply bg-main2 text-white hover:bg-[#7474f6] active:bg-[#7474f6] disabled:bg-gray2 disabled:text-gray3;
}

.btn.main3 {
  @apply bg-main3 hover:bg-[#fd7d7d] active:bg-[#fd7d7d] disabled:bg-gray2 disabled:text-gray3;
}

/* 튜토리얼 배경 */
.bg-tutorial {
  @apply bg-gradient-to-b from-[#32193e] to-[#79707f];
}

/* 고민 모달 배경 */
.bg-worry-modal {
  @apply bg-gradient-to-b from-[#FFFFFF] to-[#FCEF8D];
}

/**대화창 배경 */
.text-dialog {
  @apply w-[90%] rounded-xl border-[3px] border-black bg-main1;
}
