@keyframes glow {
  0% {
    opacity: 0.4;
    transform: scale(1);
    color: #ffd700; /* 황금색 */
  }
  25% {
    opacity: 1;
    transform: scale(1.1);
    color: #fffacd; /* 밝은 노란색 */
  }
  50% {
    opacity: 0.8;
    transform: scale(1);
    color: #ffd700;
  }
  75% {
    opacity: 1;
    transform: scale(1.1);
    color: #fffacd;
  }
  100% {
    opacity: 0.4;
    transform: scale(1);
    color: #ffd700;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slide_in {
  @apply animate-[slideIn_0.5s_forwards];
}

.slide_out {
  @apply animate-[slideOut_0.5s_forwards];
}

.fade_in {
  @apply animate-[fadeIn_0.5s_forwards];
}

.fade_out {
  @apply animate-[fadeOut_0.5s_forwards];
}

.glow-animation {
  animation: glow 1.5s infinite;
}

/* 깜박이는 커서 효과 */
.typing-cursor::after {
  content: '|';
  margin-left: 5px;
  display: inline-block;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* 숫자 크기 변화 애니메이션 */
@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
}

/* 애니메이션 클래스 */
.timer-animation {
  animation: pulse-scale 1s ease-in-out infinite;
}

@keyframes punch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.animate-punch {
  animation: punch 0.3s ease-out;
}
